.button_hov:hover {
    background-color: #90EE90;
    color: white;
}

.button_hov {
    background-color: #32dc32;
    color: white;
}

body {
    background-color: #F5F5F5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: black;*/
    width: 100vw;
    padding: 0em;
}

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    /*background-color: blueviolet;*/
}

.link-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}